.wrap {
	width: 80%;
	min-width: 800px;
	margin: auto;
	background: blue;
	overflow: hidden;
}

.content, aside {
	height: 600px;
}

.content {
	background: red;
	float: left;
	width: 80%;
}

aside {
	background: green;
	float: left;
	width: 20%;

}

aside ul {
		padding-left: 0px;
		list-style: none;
}

